:root {
  /*font*/
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* text colors*/
  --accent-txt-cl: #2196F3;
  --main-txt-color: #757575;
  --secondary-txt-cl: #212121;
  /* bacground colors*/
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #E5E5E5;
  --dark-bg-cl: #2F303A;
  --btn-bg-cl: #F5F4FA;
  /*Grid*/
  --icon-color: #AFB1B8;
  /* animation */
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --timing-function-cl: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --timing-function-bg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --timing-function-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --timing-function-shadow: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  letter-spacing: inherit;
  color: currentColor;
  border: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--timing-function), visibility var(--timing-function);
  transition: opacity var(--timing-function), visibility var(--timing-function);
  z-index: 100;
}

.menu-button--close,
.menu-button--open {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-button--open {
  position: absolute;
  top: 22px;
  right: 23px;
}

.menu-button--open:hover, .menu-button--open:focus {
  fill: var(--accent-txt-cl);
}

@media screen and (min-width: 768px) {
  .menu-button--open {
    display: none;
  }
}

.menu-button--close {
  position: absolute;
  top: 21px;
  right: 25px;
}

.menu-button--close:hover, .menu-button--close:focus {
  fill: var(--secondary-txt-cl);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-cl);
  padding: 48px 15px 48px 40px;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__nav--item:not(:last-child) {
  margin-bottom: 30px;
}

.mobile-menu__nav--link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
}

.mobile-menu__nav--link.nav__link--current {
  color: var(--accent-txt-cl);
}

.mobile-menu__contacts {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-menu__contacts--tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--accent-txt-cl);
}

@media screen and (max-width: 479px) {
  .mobile-menu__contacts--tel {
    font-size: calc(20px + 1vw);
  }
}

.mobile-menu__contacts--email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-menu__socials--item {
  position: relative;
}

.mobile-menu__socials--item:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu__socials--link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

.mobile-menu__socials--item:not(:last-child) .mobile-menu__socials--link::after {
  background-color: rgba(33, 33, 33, 0.2);
}

.mobile-menu__socials--link::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 22px;
  margin-left: 10px;
}

.current {
  color: var(--accent-txt-cl);
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 84px;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
  -webkit-transition: var(--timing-function-cl);
  transition: var(--timing-function-cl);
}

.navigation__link--current {
  color: var(--accent-txt-cl);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-txt-cl);
}

.navigation__link--current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-txt-cl);
  border-radius: 2px;
}

.btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-txt-cl);
  color: var(--main-bg-cl);
  border-width: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: var(--timing-function-bg);
  transition: var(--timing-function-bg);
}

.btn:hover, .btn:focus {
  background: #188CE8;
}

@media screen and (min-width: 480px) {
  .btn {
    width: 200px;
    height: 50px;
  }
}

.subscribe__btn {
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .subscribe__btn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.portfolio-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-navigation__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-navigation__list {
    margin-bottom: 50px;
  }
}

.portfolio-gallery__item {
  background-color: var(--btn-bg-cl);
}

.portfolio-navigation__list,
.portfolio-navigation__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio-navigation__list,
  .portfolio-navigation__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.subscribe__btn-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__btn-icon {
  margin-left: 10px;
  fill: var(--main-bg-cl);
}

.portfolio-navigation__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--secondary-txt-cl);
  background: var(--btn-bg-cl);
  cursor: pointer;
  border-width: 0;
  border-radius: 4px;
  -webkit-transition: var(--timing-function-cl), var(--timing-function-shadow), var(--timing-function-bg);
  transition: var(--timing-function-cl), var(--timing-function-shadow), var(--timing-function-bg);
}

.portfolio-navigation__btn:hover,
.portfolio-navigation__btn:focus {
  color: var(--main-bg-cl);
  background-color: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  background-color: var(--main-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity var(--timing-function), -webkit-transform var(--timing-function);
  transition: opacity var(--timing-function), -webkit-transform var(--timing-function);
  transition: transform var(--timing-function), opacity var(--timing-function);
  transition: transform var(--timing-function), opacity var(--timing-function), -webkit-transform var(--timing-function);
}

@media screen and (max-width: 479px) {
  .modal {
    width: calc(100vw - 30px);
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.17;
  }
}

.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-bg-cl);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
}

.modal__btn-icon {
  -webkit-transition: var(--timing-function-fill);
  transition: var(--timing-function-fill);
}

.modal__btn:hover .modal__btn-icon,
.modal__btn:focus .modal__btn-icon {
  fill: var(--accent-txt-cl);
}

.modal__input-container:hover .modal__input-icon {
  fill: var(--accent-txt-cl);
}

.modal__form {
  margin-left: auto;
  margin-right: auto;
}

.modal__field {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.modal__field.comments {
  margin-bottom: 20px;
}

.modal__field:focus-within .modal__input,
.modal__field:focus-within .modal__comments {
  outline: 0;
  border-color: var(--accent-txt-cl);
}

.modal__field:focus-within .modal__input-icon {
  color: var(--accent-txt-cl);
}

.modal__label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__input-container {
  position: relative;
  display: block;
}

.modal__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  padding-left: 42px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--secondary-txt-cl);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--timing-function);
  transition: border-color var(--timing-function);
}

.modal__input:hover {
  border-color: var(--accent-txt-cl);
}

.modal__input:hover .modal__input-icon {
  fill: var(--accent-txt-cl);
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  color: var(--secondary-txt-cl);
  fill: currentColor;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: var(--timing-function-fill);
  transition: var(--timing-function-fill);
}

.modal__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  color: var(--secondary-txt-cl);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--timing-function);
  transition: border-color var(--timing-function);
}

.modal__comments:hover {
  border-color: var(--accent-txt-cl);
}

.modal__comments::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__comments:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__comments::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal__custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--main-bg-cl);
  border-radius: 2px;
  border: 2px solid var(--secondary-txt-cl);
  -webkit-transition: -webkit-box-shadow var(--timing-function);
  transition: -webkit-box-shadow var(--timing-function);
  transition: box-shadow var(--timing-function);
  transition: box-shadow var(--timing-function), -webkit-box-shadow var(--timing-function);
  -webkit-transition: border var(--timing-function-cl);
  transition: border var(--timing-function-cl);
  -webkit-transition: var(--timing-function-bg);
  transition: var(--timing-function-bg);
  -webkit-transition: border-color var(--timing-function);
  transition: border-color var(--timing-function);
}

.modal__custom-checkbox:hover, .modal__custom-checkbox:focus {
  border-color: var(--accent-txt-cl);
}

.modal__checkbox:checked + .modal__custom-checkbox {
  background-color: var(--accent-txt-cl);
  border: currentColor;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__custom-icon {
  fill: var(--main-bg-cl);
  opacity: 0;
  -webkit-transition: opacity var(--timing-function);
  transition: opacity var(--timing-function);
}

.modal__checkbox:checked + .modal__custom-checkbox .modal__custom-icon {
  opacity: 1;
}

.modal__policy-desc {
  font-size: 12px;
  line-height: 1.17;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (min-width: 1200px) {
  .modal__policy-desc {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__policy-link {
  color: var(--accent-txt-cl);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.modal__send-btn {
  padding: 10px 55px;
  min-width: 200px;
  background-color: var(--accent-txt-cl);
  color: var(--main-bg-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-width: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: var(--timing-function-bg);
  transition: var(--timing-function-bg);
}

.modal__send-btn:hover, .modal__send-btn:focus {
  background: #188CE8;
}

@media screen and (max-width: 767px) {
  .social {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    margin-right: 93px;
  }
}

.social__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bg-cl);
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .social__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #43444d;
  border-radius: 50%;
  -webkit-transition: var(--timing-function-bg);
  transition: var(--timing-function-bg);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-txt-cl);
}

.social__icon {
  fill: var(--main-bg-cl);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
    width: 570px;
  }
}

.subscribe__text {
  display: block;
  margin-bottom: 20px;
  color: var(--main-bg-cl);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.subscribe__email {
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-bg-cl);
  background-color: var(--dark-bg-cl);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: border-color var(--timing-function);
  transition: border-color var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .subscribe__email {
    margin-right: 12px;
  }
}

.subscribe__email:focus, .subscribe__email:hover {
  outline: 0;
  border-color: var(--main-bg-cl);
}

.subscribe__email::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__email::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .subscribe__email {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__email {
    width: 358px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__logo {
  display: block;
  padding: 16px 0;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: var(--accent-txt-cl);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 24px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo-studio {
  color: var(--secondary-txt-cl);
}

.header__list {
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header__list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-txt-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: var(--timing-function-cl);
  transition: var(--timing-function-cl);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-txt-cl);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__link {
    font-size: 12px;
    line-height: 1.17;
  }
  .header__link--top {
    padding-top: 20px;
    padding-bottom: 5px;
  }
  .header__link--bottom {
    padding-top: 5px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__mail {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .header__mail {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__mail {
    width: 16px;
    height: 12px;
  }
}

.header__phone {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .header__phone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .header__phone {
    width: 10px;
    height: 16px;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--dark-bg-cl);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/480/hero_sm.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/480/hero_sm.jpg");
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/480/hero_sm@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/480/hero_sm@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/768/hero_md.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/768/hero_md.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/768/hero_md@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/768/hero_md@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/1200/hero_lg.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/1200/hero_lg.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/1200/hero_lg@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/1200/hero_lg@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-cl);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.about {
  background-color: var(--main-bg-cl);
}

@media screen and (min-width: 1200px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 768px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about__item {
  width: 100%;
}

@media screen and (max-width: 767.98px) {
  .about__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about__item {
    width: 354px;
  }
  .about__item:nth-child(odd) {
    margin-right: 30px;
  }
  .about__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about__item {
    width: 270px;
  }
  .about__item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
  .about__item:not(:last-child) {
    margin-right: 30px;
  }
}

.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--btn-bg-cl);
  border-radius: 4px;
}

.about__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--secondary-txt-cl);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}

@media screen and (max-width: 767.98px) {
  .about__title {
    text-align: center;
  }
}

.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 0px;
  }
}

.work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-txt-cl);
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__item {
  width: 100%;
  -ms-flex-preferred-size: calc((100% - 60px) /3);
      flex-basis: calc((100% - 60px) /3);
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__container {
  position: relative;
}

.work__text-container {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-bg-cl);
}

.team {
  background: var(--btn-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-txt-cl);
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__info {
  padding: 30px 10px 24px 10px;
}

@media screen and (min-width: 1200px) {
  .team__info {
    padding: 30px 10px 30px 10px;
  }
}

.team__item {
  background-color: var(--main-bg-cl);
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-txt-cl);
}

.team__text {
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.team__social-item:not(:last-child) {
  margin-right: 10px;
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--main-bg-cl);
  border-radius: 50%;
  -webkit-transition: var(--timing-function-bg);
  transition: var(--timing-function-bg);
  cursor: pointer;
}

.team__social-link:hover, .team__social-link:focus {
  background-color: var(--accent-txt-cl);
}

.team__social-icon {
  fill: var(--icon-color);
  -webkit-transition: var(--timing-function-fill);
  transition: var(--timing-function-fill);
}

.team__social-link:hover .team__social-icon,
.team__social-link:focus .team__social-icon {
  fill: var(--main-bg-cl);
}

.client__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-txt-cl);
}

@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
  }
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 479px) {
  .client__item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .client__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .client__item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item {
    margin-right: 30px;
  }
  .client__item:nth-child(3n) {
    margin-right: -30px;
  }
  .client__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client__icon {
  fill: var(--icon-color);
  -webkit-transition: var(--timing-function-fill);
  transition: var(--timing-function-fill);
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 290px;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: var(--timing-function-cl);
  transition: var(--timing-function-cl);
}

.client__link:hover, .client__link:focus {
  border-color: var(--accent-txt-cl);
}

@media screen and (min-width: 480px) {
  .client__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--accent-txt-cl);
}

.footer {
  background-color: var(--dark-bg-cl);
  padding: 60px 0px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__group {
    margin-right: 70px;
  }
}

.footer__logo {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: var(--accent-txt-cl);
  padding: 16px 0;
}

@media screen and (max-width: 767px) {
  .footer__logo {
    padding: 0 0 20px 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-right: 93px;
    font-size: 26px;
  }
}

.footer__logo--studio {
  color: var(--main-bg-cl);
}

.footer__address {
  font-style: inherit;
  color: #FFFFFF99;
}

.footer__list {
  font-size: 14px;
  line-height: 1.71;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__link {
  color: var(--main-bg-cl);
  -webkit-transition: var(--timing-function-cl);
  transition: var(--timing-function-cl);
}

.footer__link:hover, .footer__link:focus {
  color: var(--accent-txt-cl);
}

.footer__phone,
.footer__mail {
  display: block;
  -webkit-transition: var(--timing-function-cl);
  transition: var(--timing-function-cl);
}

.footer__phone:hover, .footer__phone:focus,
.footer__mail:hover,
.footer__mail:focus {
  color: var(--accent-txt-cl);
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .gallery__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 354px;
    margin-right: 30px;
  }
  .gallery__item:nth-child(2n) {
    margin-right: 0;
  }
  .gallery__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    width: 370px;
    margin-right: 30px;
  }
  .gallery__item:nth-child(3n) {
    margin-right: 0;
  }
  .gallery__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.gallery__layer {
  position: relative;
  overflow: hidden;
}

.gallery__link {
  -webkit-transition: var(--timing-function-shadow);
  transition: var(--timing-function-shadow);
  display: block;
}

.gallery__link:hover, .gallery__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.gallery__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-cl);
}

.gallery__text {
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
}

.gallery__caption {
  padding: 20px 24px;
  background-color: var(--main-bg-cl);
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__caption {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.gallery__layer-text {
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  text-align: left;
  color: var(--main-bg-cl);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--timing-function);
  transition: -webkit-transform var(--timing-function);
  transition: transform var(--timing-function);
  transition: transform var(--timing-function), -webkit-transform var(--timing-function);
  -webkit-transition: var(--timing-function);
  transition: var(--timing-function);
}

.gallery__link:hover .gallery__layer-text,
.gallery__link:focus .gallery__layer-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */