:root{
/*font*/
--main-font:Roboto, sans-serif;
--secondary-font:Raleway,sans-serif;
/* text colors*/
--accent-txt-cl:#2196F3;;
--main-txt-color:#757575;
--secondary-txt-cl:#212121;
/* bacground colors*/
--main-bg-cl:#ffffff;
--secondary-bg-cl:#E5E5E5;
--dark-bg-cl:#2F303A;
--btn-bg-cl:#F5F4FA;
/*Grid*/
--icon-color:#AFB1B8;
/* animation */
--timing-function: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
--timing-function-cl: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
--timing-function-bg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
--timing-function-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
--timing-function-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	font-family:var(--main-font);
	color:var(--main-txt-color);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0px;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container{
	
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.section{
	padding-top: 94px;
	padding-bottom: 94px;
}

.link {
	text-decoration: none;
	color: currentColor;
}

.btn{
	cursor: pointer;
	font-family: inherit;
	color: currentColor;
	border: none;
}

.list{
	list-style: none;
	padding: 0;
	margin: 0;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*header section*/

.header {
	border-bottom: 1px solid #ECECEC;
}

.header-container{
	display: flex;
	align-items: center;
}

.navigation{
	display: flex;
}

.header-logo{
	display: block;
	padding-top: 24px;
	padding-bottom: 25px;
	margin-right: 93px;

	font-family:var(--secondary-font);
	
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color:var(--accent-txt-cl);
	text-decoration: none;
}

.header-logo-studio{
	color: var(--secondary-txt-cl);
}

.navigation-list{
	display: flex;
	align-items: center;
	line-height: 1.17;
	letter-spacing: 0.02em;
}

.navigation-item:not(:last-child) {
	margin-right: 50px;
}

.navigation-link{
	position: relative;
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-txt-cl);
}

.navigation-link.current::after{
	content: "";
	position: absolute;
	display: block;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 4px;
	background-color: var(--accent-txt-cl);
	border-radius: 2px;
}

.current{
	color: var(--accent-txt-cl);
}

.header-contacts-list {
	display: flex;
	align-items: center;
	margin-left: auto;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.header-contacts-item:not(:last-child) {
	margin-right: 50px;
}

.header-mail{
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--text-color-primary);
}

.header-phone{
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--text-color-primary);
}

.header-icon{
	fill: currentColor;
	margin-right: 10px;
}

.navigation-link:hover,
.navigation-link:focus {
	color: var(--accent-txt-cl);
	transition: var(--timing-function-cl);
}

.header-phone:hover,
.header-phone:focus {
	color: var(--accent-txt-cl);
	transition: var(--timing-function-cl);
}

.header-mail:hover,
.header-mail:focus{
	color: var(--accent-txt-cl);
	transition: var(--timing-function-cl);
}

/*hero section*/

.hero-section {
		padding-top: 200px;
		padding-bottom: 200px;
		text-align: center;
		max-width: 1600px;
		min-height: 600px;
		margin-left: auto;
		margin-right: auto;
		background-image:	
		linear-gradient(to right, rgba(47,48,58,0.4), rgba(47, 48, 58, 0.4)),
		url("../images/overlay.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: var(--dark-bg-cl);
}

.hero-title {
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--main-bg-cl);
}

.hero-btn{
	padding: 10px 32px;
	min-width: 200px;
	
	font-weight: 700;
	font-size: 16px;
	line-height:1.88;
	text-align: center;
	letter-spacing: 0.06em;
	
	background-color: var(--accent-txt-cl);
	color: var(--main-bg-cl);
	cursor: pointer;
	border-width: 0;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus{
	background: #188CE8;
	transition: var(--timing-function-bg);
}

.backdrop{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity var(--timing-function), visibility var(--timing-function);
	z-index: 100;
}

.backdrop.is-hidden{
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.modal-wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 1);
	width: 528px;
	height: 581px;
	border-radius: 4px;
}

.modal-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 8px;
	right: 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: var(--main-bg-cl);
	cursor: pointer;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 0;
}

/*Наши качества*/
.about-section {
	background-color: var(--main-bg-cl);
}

.about-list{
	display: flex;
	justify-content: center;
	justify-content: space-between;
	font-size: 14px;
	line-height: 1.71;
}

.about-item{
	display: flex;
	flex-direction: column;
	max-width: 270px;
}

.about-item:not(:last-child) {
	margin-right: 30px;
}

.about-block{
	display: flex;
	width: 100%;
	height: 120px;
	margin-bottom: 30px;
	
	justify-content: center;
	align-items: center;
	background-color: var(--btn-bg-cl);
	border-radius: 4px;
}

.about-icon{
	display: flex;
	color: var(--secondary-txt-cl);
	justify-content: center;
}

.about-title{
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--secondary-txt-cl);
}

/*Чем мы занимаемся*/

.work{
	padding-top: 0px;
}

.work-title{
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: var(--secondary-txt-cl);
}

.work-list{
	display: flex;
	flex-wrap: wrap;
}

.work-item{
	position: relative;
	width: 100%;
	flex-basis: calc((100% - 60px) /3);
}

.work-item:not(:last-child) {
	margin-right: 30px;
}

.work-item::after{ 
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 70px;
	background-color: rgba(47, 48, 58, 0.8);
	z-index: 1;
}

.work-text {
	position: absolute;
	padding: 27px 82px;
	margin: 0;
	bottom: 0;
	left: 0;
	font-weight: 700;
	line-height: 1.14;
	text-align: center;
	color: var(--main-bg-cl);
	z-index: 2;

}

/*Команда*/

.team{
	background:var(--btn-bg-cl);
}

.team-title{
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: var(--secondary-txt-cl);
}

.team-list {
	display: flex;
	flex-wrap: wrap;
}

.team-item {
	background-color: var(--main-bg-cl);
	text-align: center;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
	margin-right: 30px;
}

.team-info {
	padding: 30px 32px;
}

.team-subtitle{
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	color: var(--secondary-txt-cl);
}

.team-text{
	margin-bottom: 16px;
}

/* Иконки */

.social-list{
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-item:not(:last-child){
	margin-right: 10px;
}

.social-link{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	background-color: var(--main-bg-cl);
	border-radius: 50%;
}

.social-link:hover,
.social-link:focus{
	background-color:var(--accent-txt-cl);
	transition: var(--timing-function-bg);
}

.social-icon{
	fill: var(--icon-color);
}

.social-link:hover .social-icon, 
.social-link:focus .social-icon{
	fill: var(--main-bg-cl);
	transition: var(--timing-function-fill);
}

/* Постоянные клиенты */

.client-title{
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: var(--secondary-txt-cl);
	}

.client-list{
	display: flex;
	flex-wrap: wrap;
}

.client-item:not(:last-child){
	margin-right: 30px;
}

.client-icon{
	fill: var(--icon-color);
}

.client-link{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 92px;
	border: 1px solid var(--icon-color);
	border-radius: 4px;
	}

.client-link:hover,
.client-link:focus{
	border-color: var(--accent-txt-cl)

}

.client-link:hover .client-icon,
.client-link:focus .client-icon{
	fill: var(--accent-txt-cl);
	transition: var(--timing-function-fill);
}

/* footer section*/

.footer{
	background-color: var(--dark-bg-cl);
	padding: 60px 0px;
}

.footer-container {
	display: flex;
	justify-items: center;
	align-items: baseline;
}

.footer-address-block{
	margin-right: 70px;
}

.address{
	font-style: normal;
	margin-top: 20px;
}

.footer-logo{
	display: block;
	font-family:var(--secondary-font);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-txt-cl);
}

.footer-logo-studio{
	color: var(--main-bg-cl);
}

.footer-contacts-list{
	font-size: 14px;
	line-height: 1.71;
	color: #FFFFFF99;
}

.footer-phone,
.footer-mail{
	display: block;
}

.footer-contacts-item:not(:last-child) {
	margin-bottom: 9px;
}

.footer-contacts-item-link{
	color: var(--main-bg-cl);
}

.footer-contacts-item-link:hover,
.footer-contacts-item-link:focus{
	color: var(--accent-txt-cl);
	transition: var(--timing-function-cl);
}

.footer-mail:hover,
.footer-mail:focus{
	color: var(--accent-txt-cl);
	transition: var(--timing-function-cl);
}

.footer-phone:hover,
.foter-phone:focus{
	color: var(--accent-txt-cl);
	transition: var(--timing-function-cl);
}

.footer-social-block{
	display: inline-block;
	justify-content: center;
	align-items: baseline;
}

.footer-social-title{
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--main-bg-cl);
	display: inline-block;
	margin-bottom: 20px;
}

.footer-social-list{
	display: flex;
}

.footer-social-item{
	width: 44px;
	height: 44px;
}

.footer-social-link{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #43444d;
	border-radius: 50%;
}

.footer-social-link:hover,
.footer-social-link:focus{
	background-color: var(--accent-txt-cl);
	transition: var(--timing-function-bg);
}

.footer-social-item:not(:last-child){
	margin-right: 10px;
}

.footer-social-icon{
	fill: var(--main-bg-cl);
}
/*portfolio navigation section*/

.portfolio-navigation-btn{
	padding: 6px 22px;
	
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	color: var(--secondary-txt-cl);
	background:var(--btn-bg-cl);

	cursor: pointer;
	border-width: 0;
	border-radius: 4px;
}

.portfolio-navigation-list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.portfolio-gallery-item {
	background-color: var(--btn-bg-cl);
}

.portfolio-navigation-list, 
.portfolio-navigation-item:not(:last-child) {
	margin-right: 8px;
}

.portfolio-navigation-btn:hover,
.portfolio-navigation-btn:focus{
	color: var(--main-bg-cl);
	background-color: var(--accent-txt-cl);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	transition: var(--timing-function-cl);
	transition: var(--btn-bg-cl);
	transition: var(--timing-function-shadow);
}

/*portfolio gallery section*/

.portfolio-gallery-list{
	display: flex;
	flex-wrap: wrap;
}

.portfolio-gallery-item{
	flex-basis: calc((100% - 60px) / 3);
}

.portfolio-gallery-item:not(:nth-child(3n)) {
	margin-right: 30px;
}

.portfolio-gallery-item:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}

.portfolio-gallery-list .portfolio-gallery-item:hover,
.portfolio-gallery-list .portfolio-gallery-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	transition: var(--timing-function-shadow);
}

.portfolio-gallery-title{
	margin-bottom: 4px;

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--secondary-txt-cl);
}

.portfolio-gallery-text{
	font-size: 16px;
	line-height: 1.88;
	text-decoration: none;
}

.portfolio-gallery-caption{
	padding: 20px 24px;
	background-color: var(--main-bg-cl);
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.portfolio-gallery-layer {
	position: relative;
	overflow: hidden;
}

.portfolio-layer-text {
	display: block;
	font-size: 18px;
	line-height: 1.55;
	padding: 63px 24px;
	text-align: left;
	color: var(--main-bg-cl);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
	opacity: 0;
	transform: translateY(100%);
	transition: transform var(--timing-function);
	transition: 250ms;
}


.portfolio-gallery-link:hover .portfolio-layer-text,
.portfolio-gallery-link:focus .portfolio-layer-text {
	opacity: 1;
	transform: translateY(0);
}
