.menu-button--close,
.menu-button--open {
	display: inline-flex;
	margin-left: auto;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.menu-button--open {
	position: absolute;
	top: 22px;
	right: 23px;

	&:hover,
	&:focus {
		fill: var(--accent-txt-cl);
	}

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.menu-button--close {
	position: absolute;
	top: 21px;
	right: 25px;

	&:hover,
	&:focus {
		fill: var(--secondary-txt-cl);
	}
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--main-bg-cl);
	padding: 48px 15px 48px 40px;
	z-index: 999;

	display: flex;
	flex-direction: column;

	transform: translateX(100%);
	transition: transform 250ms ease-in;

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.mobile-menu.is-open {
	transform: translateX(0);
}

.mobile-menu__nav--item {
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.mobile-menu__nav--link {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.17;
	letter-spacing: 0.02em;

	color: var(--secondary-txt-cl);
}

.mobile-menu__nav--link.nav__link--current {
	color: var(--accent-txt-cl);
}

.mobile-menu__contacts {
	margin-top: auto;
	margin-bottom: 64px;
}

.mobile-menu__contacts--tel {
	display: block;
	font-weight: 500;
	font-size: 34px;
	line-height: 1.18;
	letter-spacing: 0.02em;

	margin-bottom: 32px;

	color: var(--accent-txt-cl);

	@media screen and (max-width: 479px) {
		font-size: calc(20px + 1vw);
	}
}

.mobile-menu__contacts--email {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: 0.02em;

	color: var(--main-txt-color);
}

.mobile-menu__socials {
	display: flex;
	flex-wrap: wrap;
}

.mobile-menu__socials--item {
	position: relative;

	&:not(:last-child) {
		margin-right: 20px;
	}
}

.mobile-menu__socials--link {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	letter-spacing: 0.02em;

	color: var(--accent-txt-cl);

	.mobile-menu__socials--item:not(:last-child) &::after {
		background-color: rgba(33, 33, 33, 0.2);
	}

	&::after {
		content: " ";
		position: absolute;
		width: 1px;
		height: 22px;
		margin-left: 10px;
	}
}