.navigation {
	display: flex;
}

.navigation__list {
	display: flex;
	align-items: center;
	line-height: 1.17;
	letter-spacing: 0.02em;
}

.navigation__item:not(:last-child) {
	margin-right: 50px;
}

.navigation__link {
	position: relative;
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-txt-cl);
	transition: var(--timing-function-cl);
		&:hover,
		&:focus {
		color: var(--accent-txt-cl);
		}
}

.navigation__link--current::after {
		content: "";
		position: absolute;
		display: block;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 4px;
		background-color: var(--accent-txt-cl);
		border-radius: 2px;
		}	

		


