.team {
	background: var(--btn-bg-cl);
}

.team__title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: var(--secondary-txt-cl);
}

.team__list {
	display: flex;
	flex-wrap: wrap;
}

.team__item {
	background-color: var(--main-bg-cl);
	text-align: center;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	&:not(:last-child) {
	margin-right: 30px;
	}
}

.team__info {
	padding: 30px 32px;
}

.team__subtitle {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	color: var(--secondary-txt-cl);
}

.team__text {
	margin-bottom: 16px;
}

.team__social-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.team__social-item:not(:last-child) {
	margin-right: 10px;
}

.team__social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	background-color: var(--main-bg-cl);
	border-radius: 50%;
	transition: var(--timing-function-bg);

	&:hover,
	&:focus {
	background-color: var(--accent-txt-cl);
	}

}

.team__social-icon {
	fill: var(--icon-color);
	transition: var(--timing-function-fill);
}

.team__social-link:hover .team__social-icon,
.team__social-link:focus .team__social-icon {
	fill: var(--main-bg-cl);
}